.pricing__top__wrapper {
    background: #fff;
}

.plans__wrapper {
    background: #fff;

    .pricing__section__wrapper {
        border: 1px solid #E7E9E9;
        overflow: hidden;
    }
}

.grow__wrapper {
    margin-top: 40px;
}