.inner__wrapper {
    @media (max-width: 1024px) {
        padding-right: 16px;
        padding-left: 16px;
    }

    .mobile__text__wrapper {
        @media (min-width: 1025px) {
            display: none;
        }
    }

    .desktop__text__wrapper {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .footer__mobile__text__wrapper {
        @media (min-width: 1025px) {
            display: none;
        }
    }

    .footer__desktop__text__wrapper {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}