.help__wrapper {
    background-image: url(../../../assets//images/pricing/hero1.png);
    background-size: 100% 100%;

    .mobile__wrapper {
        display: none;
        
        @media (max-width: 1024px) {
            display: block;
        }
    }

    .desktop__wrapper {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}