.animation__container {
    width: 655px;
    margin-bottom: 15px;

    @media (min-width: 1025px) and (max-width: 1592px) {
        width: 558px;
        margin-bottom: 77px;
    }

    @media (min-width: 1592px) and (max-width: 1700px) {
        width: 577px;
        margin-bottom: 60px;
    }

    @media (min-width: 2000px) and (max-width: 2710px) {
        width: 860px;
        margin-bottom: 138px;
    }

    @media (min-width: 3000px) and (max-width: 3500px) {
        width: 1161px;
        margin-bottom: 68px;
    }
}

.safari__animation__container {
    @media (min-width: 1025px) and (max-width: 1500px) {
        width: 170px;
        margin-bottom: 220px;
    }

    @media (min-width: 1500px) and (max-width: 1600px) {
        width: 180px;
        margin-bottom: 200px;
    }

    @media (min-width: 1600px) and (max-width: 1700px) {
        width: 190px;
        margin-bottom: 190px;
    }

    @media (min-width: 1700px) and (max-width: 1800px) {
        width: 190px;
        margin-bottom: 180px;
    }

    @media (min-width: 1800px) and (max-width: 1900px) {
        width: 205px;
        margin-bottom: 160px;
    }

    @media (min-width: 1900px) and (max-width: 2000px) {
        width: 220px;
        margin-bottom: 250px;
    }

    @media (min-width: 2000px) and (max-width: 2300px) {
        width: 240px;
        margin-bottom: 310px;
    }

    @media (min-width: 2300px) and (max-width: 2500px) {
        width: 260px;
        margin-bottom: 350px;
    }

    @media (min-width: 2300px) and (max-width: 2800px) {
        width: 300px;
        margin-bottom: 260px;
    }
}