.title__wrapper {
    span {
        font-family: 'Fixel Variable', sans-serif;
    }
}

.subtitle__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    span {
        font-family: 'SubFixel Variable', sans-serif;
    }
}

.btn__wrapper {
    button {
        font-size: 16px;
        font-family: 'Fixel Bold', sans-serif;
    }
}

.list__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    span {
        font-family: 'SubFixel Variable', sans-serif;
        font-weight: 600;
    }
}

.integrations__wrapper {
    @media (max-width: 1024px) {
        padding: 80px 10px;

        & > div {
            padding: 0;
        }

        .img__text__wrapper {
            flex-direction: column;

            & > div {
                padding: 0;
            } 

            .title__wrapper {
                span {
                    font-size: 36px;
                }
            }

            .subtitle__wrapper {
                span {
                    font-size: 16px;
                }
            }

            .btn__wrapper {
                width: 100%;

                button {
                    width: 100%;
                }
            }
        }
    }
}

.marketing__integrations__wrapper {
    @media (max-width: 1024px) {
        flex-direction: column-reverse;

        & > div {
            padding: 0;
        }

        .title__wrapper {
            span {
                font-size: 36px;
            }
        }

        .subtitle__wrapper {
            span {
                font-size: 16px;
            }
        }

        .btn__wrapper {
            width: 100%;

            button {
                width: 100%;
            }
        }
    }
}

.with__miestro__wrapper {
    @media (max-width: 1024px) {
        .title__wrapper {
            span {
                font-size: 36px !important;
            }
        }

        .subtitle__wrapper {
            span {
                font-size: 20px !important;
                line-height: 150% !important;
            }
        }

        .checklist__wrapper {
            flex-direction: column;
            max-width: 315px;
            width: 100%;
        }
    }
}