.join__creators__wrapper {
    background: #f6faf9;
    padding: 80px 50px 0 50px;

    @media (max-width: 1024px) {
        padding: 80px 20px 0 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 68px;
        max-width: 1605px;
        margin: 0 auto;
        
        .top__wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .content__wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                .title__wrapper {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    width: 532px;

                    span {
                        font-family: 'Fixel Variable', sans-serif;
                        line-height: 124%;
                    }

                    @media (max-width: 1440px) {
                        width: 490px;
                    }

                    @media (max-width: 1024px) {
                        max-width: 387px;

                        span {
                            font-size: 28px;
                            letter-spacing: -1px;
                            line-height: 120%;
                        }
                    }

                    @media (max-width: 1024px) {
                        max-width: 358px;
                    }
                }
    
                .subtitle__wrapper {
                    max-width: 560px;
                    margin-bottom: 32px;
                    font-family: 'Fixel Regular', sans-serif;

                    @media (max-width: 1024px) {
                        max-width: 387px;

                        span {
                            font-size: 16px;
                        }
                    }

                    @media (min-width: 1024px) {
                        span {
                            font-size: 24px;
                        }
                    }
                }

                @media (max-width: 1024px) {
                    align-items: center;
                }

                .button__wrapper {
                    button {
                        font-family: 'Fixel Bold', sans-serif;
                    }

                    @media (max-width: 1024px) {
                        width: 100%;

                        button {
                            width: 100%;
                        }
                    }
                }

                @media (max-width: 1024px) {
                    width: 358px;
                }
            }

            @media (max-width: 1024px) {
                flex-direction: column;
                gap: 24px;
            }
        }

        .footer__text__wrapper {
            display: flex;
            gap: 5px;
            padding-left: 180px;
            
            span {
                font-family: 'Fixel Variable', sans-serif;
            }

            #message__icon {
                width: 36px;
                height: 44px;
            }
            

            @media (max-width: 1440px) {
                padding-left: 0;
            }

            @media (min-width: 350px) {
                span {
                    font-size: 20px;
                }
            }

            @media (min-width: 1024px) {
                span {
                    font-size: 36px;
                }
            }
        }

        @media (max-width: 1440px) {
            max-width: 1256px;
        }
    }
}