.footer__contact__button {
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    height: 60px;
    max-height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 153%;
    background-color: transparent;
    padding: 16px 24px;
}

.question__wrapper {
    button {
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
}