.features__block {
    &__svg {
        transform: rotate(-10.15deg);
    }
}

.other__text {
    span {
        font-family: 'Fixel Variable', sans-serif;
    }
}

.link__text__wrapper {
    span {
        font-family: 'Fixel Variable', sans-serif;
    }
}