.faq__pricing__container {
    max-width: 846px;
    width: 846px;
    margin: 0px auto;
}

.faq__item {
    background-color: white;
    position: relative;
    border-radius: 20px;
    // border-image: linear-gradient(90deg, #8F5CFF 0%, #DA8D6D 100%) 1;
    // border-image: linear-gradient(to right, #ff0000, #00ff00) 1;
    // border: 10px solid transparent;
    display: inline-block;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 20px;
        padding: 2px;
        /* control the border thickness */
        background: linear-gradient(90deg, #8F5CFF 0%, #DA8D6D 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }

    &__close {
        transition: 0.3s;
    }

}

.texts__wrapper {
    span {
        font-family: 'Fixel Variable', sans-serif;
    }
}

.mobile__wrapper {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        width: 300px;
    }
}

.desktop__wrapper {
    display: block;

    @media (max-width: 1024px) {
        display: none;
    }
}

.title__wrapper {
    span {
        font-family: 'Fixel Variable', sans-serif;
    }

    @media (max-width: 1024px) {
        text-align: center;
    }
}