.reset__password__wrapper {
    background: #F8FAFA;
    border-radius: 24px;
    width: 566px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px;

    form {
        label {
            margin-top: 15px;
        }

        input {
            padding: 12px 16px;
        }
    }

    svg {
        top: 60px !important;
    }

    .input__footer__text {
        color: var(--additional_danger);
        margin-left: 6px;
        font-style: normal;
        font-size: 12px;
        line-height: 150%;
        font-feature-settings: "tnum" on, "lnum" on;
    }

    .error_text {
        color: var(--additional_error);
    }
}