.customers__section__mobile {
    background: url(../../../../assets/images/customers.png);
    backgroundSize: cover
}

.customer {
    width: 310px;
    height: 490px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;

    img {
        width: 100%;
        height: 100%;
    }
    &:hover {
        transform: scale(1.1);
    }
}